Repository robocorp/robocorp, pull requests merged in 2024-03, with the labels that each got.

#275 SSL injection with truststore `tasks` utility
  tasks/docs/CHANGELOG.md
  tasks/docs/api/README.md
  tasks/docs/api/robocorp.tasks.cli.md
  tasks/poetry.lock
  tasks/pyproject.toml
  tasks/src/robocorp/tasks/__init__.py
  tasks/src/robocorp/tasks/cli.py
  tasks/tests/tasks_tests/fixtures.py
Labels: enhancement, robocorp-tasks, Library

#268 Trigger truststore injection from tasks
  browser/docs/CHANGELOG.md
  browser/docs/api/robocorp.browser.cli.md
  browser/poetry.lock
  browser/pyproject.toml
  browser/src/robocorp/browser/__init__.py
  browser/src/robocorp/browser/cli.py
Labels: enhancement, robocorp-browser, Library

#294 Support custom types in Action Server UI
  .github/workflows/action_server_frontend_tests.yml
  action_server/docs/CHANGELOG.md
  action_server/frontend/.eslintrc.json
  action_server/frontend/package-lock.json
  action_server/frontend/package.json
  action_server/frontend/src/__tests/fixtures/actionPayload.json
  action_server/frontend/src/__tests/fixtures/formData.json
  action_server/frontend/src/__tests/fixtures/inputSchema.json
  action_server/frontend/src/__tests/formData.test.ts
  action_server/frontend/src/lib/formData.ts
  action_server/frontend/src/lib/helpers.ts
  action_server/frontend/src/lib/types.ts
  action_server/frontend/src/views/actions/components/ActionRun.tsx
  action_server/frontend/tsconfig.json
Labels: Action Server

#295 Show exposed URL in Action Server UI
  action_server/docs/CHANGELOG.md
  action_server/frontend/src/views/Root.tsx
Labels: Action Server

#296 Display Action Run logs directly in Run View
  action_server/docs/CHANGELOG.md
  action_server/frontend/package-lock.json
  action_server/frontend/package.json
  action_server/frontend/src/components/ActionRunConsole.tsx
  action_server/frontend/src/components/index.ts
  action_server/frontend/src/lib/helpers.ts
  action_server/frontend/src/lib/requestData.ts
  action_server/frontend/src/queries/actions.ts
  action_server/frontend/src/views/Root.tsx
  action_server/frontend/src/views/actions/components/ActionRun.tsx
  action_server/frontend/src/views/actions/components/ActionRunResult.tsx
  action_server/frontend/src/views/runs/components/ActionRunDetails.tsx
Labels: Action Server

#298 Release libraries with `tasks` v3
  devutils/pyproject.toml
  devutils/requirements.txt
  devutils/src/devutils/invoke_utils.py
  meta/poetry.lock
  meta/pyproject.toml
  meta/src/robocorp/_meta/__init__.py
  meta/tasks.py
Labels: dependencies

#291 Get into development with a single script execution
  .gitignore
  CONTRIBUTING.md
  devutils/bin/develop.bat
  devutils/bin/develop.sh
  devutils/development-environment.yaml
  devutils/requirements.txt
Labels: Chore / Tech Debt

#253 Fix READMEs for all the packages: soft-wrap and line-break
  README.md
  action_server/README.md
  actions/README.md
  browser/README.md
  docs/3rd_party/README.md
  docs/3rd_party/beautifulsoup4/README.md
  docs/3rd_party/boto3/README.md
  docs/3rd_party/cryptography/README.md
  docs/3rd_party/gspread/README.md
  docs/3rd_party/notifiers/README.md
  docs/3rd_party/numpy/README.md
  docs/3rd_party/oauthlib/README.md
  docs/3rd_party/orm/README.md
  docs/3rd_party/pandas/README.md
  docs/3rd_party/pdf/README.md
  docs/3rd_party/pendulum/README.md
  docs/3rd_party/psutil/README.md
  docs/3rd_party/pyotp/README.md
  docs/3rd_party/requests/README.md
  docs/3rd_party/selenium/README.md
  docs/3rd_party/simple-salesforce/README.md
  docs/README.md
  log/README.md
  log_pytest/README.md
  meta/README.md
  storage/README.md
  tasks/README.md
  vault/README.md
  windows/README.md
  workitems/README.md
Labels: documentation, robocorp-windows, robocorp-browser
